* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

h1 {
    display: inline-block;
    color: black;
    margin: 20px 20px;
    text-align: center;
    font-size: 50px;
}

.PrincipalContainer {
    display: flex;
}


.UpperContainer p {
    display: inline-block;
    padding-right: 40px;
    font-size: 25px;
    margin-left: 40px;
}

.UpperContainer input {
    background: lightgrey;
    transition: all 1s;
    padding: 2px;
    margin-right: 20px;
}

.UpperContainer input:focus {
    background: white;
}

.UpperContainer button {
    cursor: pointer;
    margin: 30px;
    width: 200px;
    height: 25px;
    background: rgb(126, 34, 34);
    color: white;
    transition: all .4s;
}

.UpperContainer button:hover {
    background: rgb(84, 207, 35);
    color: black;
}

.nombreAutor {
    font-size: 30px;
}

.userPoints {
    font-size: 25px;
}

.numberUserPoints {
    font-size: 25px;
}

.segundocontenedor {
    color: black;
    width: 50%;
    margin-left: 40px;
}

.blueprintsTable {
    width: 100%;
    padding: 20px 40px 30px 2px;
    text-align: center;
}

tablehead {
    border: 2px solid black;
    background: grey;
    color: black;
}

th, tr, td {
    border: 2px solid black;
}

tablebody {
    border: 2px solid black;
    background: lightgrey;
    color: black;
}

.contenedorderecho {
    color: black;
    width: 50%;
    margin-right: 40px;
}

#myCanvas {
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.nombreActual {
    font-size: 30px;
    margin: 30px;
}